<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-entelplugin" version="0.0.1">
    <name>EntelPlugin</name>

    <description>An Android Cordova plugin that allows users to read from a morpho device.</description>
    <license>Apache 2.0</license>

    <keywords>cordova,android,toast,message,alert</keywords>
    <repo>https://github.com/diogo-martins-wingman/entel-plugin.git</repo>
    <issue>https://github.com/diogo-martins-wingman/entel-plugin/issues</issue>
  
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
  
    <js-module src="www/entelplugin.js" name="entelPlugin">
        <clobbers target="window.plugins.entelPlugin" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="EntelPlugin">
                <param name="android-package" value="pt.wingman.cordova.plugin.EntelPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/EntelPlugin.java" target-dir="src/pt/wingman/cordova/plugin" />
    </platform>
</plugin>